<table class="table tablesorter">
  <thead>
    <tr>
      <th>MAC</th>
      <th>Machine</th>
    </tr>
  </thead>
  <tbody>
    <%- @duplicated_macs.each do |nic| -%>
      <%- if nic.machine_id -%>
        <%- nic_machine = @machines.where(id: nic.machine_id).first %>
      <%- end -%>
      <tr id="#nic-<%= nic.id %>">
        <td><%= nic.mac %></td>
        <td>
           <%- if nic_machine -%>
             <%= link_to(nic_machine.name, nic_machine) %>
           <%- end -%>
        </td>
      </tr>
    <%- end -%>
  </tbody>
</table>
