<table class="table tablesorter">
  <thead>
    <tr>
      <th>MAC</th>
      <th>Machine</th>
    </tr>
  </thead>
  <tbody>
    <%- @duplicated_macs.each do |nic| -%>
      <%- machine = k(:machine, @machines.where(id: nic.machine_id).first) %>
      <tr id="#nic-<%= nic.id %>">
        <td><%= nic.mac %></td>
        <td><%= machine.name_link %></td>
      </tr>
    <%- end -%>
  </tbody>
</table>
