<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <ul class="nav">
                <a class="brand" href="<%= maintenance_template_path(maintenance_template) %>"><%= maintenance_template.name %></a>
            </ul>
            <ul class="nav pull-right">
                <li><%= link_to '<i class="fa fa-edit"></i> Edit'.html_safe, edit_maintenance_template_path(maintenance_template) %></li>
                <li><%= link_to '<i class="fa fa-times"></i> Delete'.html_safe, maintenance_template_path(maintenance_template), class: 'maintenance_template-delete', method: 'delete' %></li>
            </ul>
        </div>
    </div>
</div>