<table class="table tablesorter maintenance_template-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Template</th>
    </tr>
  </thead>
  <tbody>
    <%- maintenance_templates.each do |maintenance_template| -%>
      <%#- maintenance_template = k(:maintenance_template, maintenance_template) -#%>
      <tr id="#maintenance_template-<%= maintenance_template.id %>">
        <td><%= link_to(maintenance_template.name, maintenance_template) %></td>
        <td><%= truncate maintenance_template.template, length: 20 %></td>
      </tr>
    <%- end -%>
  </tbody>
</table>