SECRET_KEY_BASE=sekret
REDIS_URL="redis://redis:6379/0"
REDIS_NAMESPACE=idb
MYSQL_DATABASE=idb
MYSQL_USER=idb
MYSQL_PASSWORD=sekret
MYSQL_HOST=database
MYSQL_PORT=3306
MYSQL_RANDOM_ROOT_PASSWORD=1
STOMP_HOST=stomp.example.org
STOMP_PORT=1234
STOMP_USER=stomp
STOMP_PASSWORD=sekret
STOMP_VHOST=vhost
STOMP_QUEUE=idb.maintenance
LDAP_HOST=
LDAP_PORT=
LDAP_BASE=
LDAP_UUID=
LDAP_AUTH_DN=
LDAP_AUTH_PASSWORD=
LDAP_ADMIN_GROUP=
LDAP_GROUP_MEMBERSHIP_ATTRIBUTE=
