<div id="lexware-imports-new">

<div class="row-fluid">
  <div class="span12">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="<%= new_lexware_import_path %>">New CSV Import</a>
        </div>
      </div>
    </div>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <p style="margin-top: 10px">
          <strong>Format:</strong> "Kundennummer";"Vorname";"Name";"Firma";"Ansprechpartner";"Straße";"Postleitzahl";"Ort";"Land";"Telefon";"EMAIL"
    </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <br/>
    <%= form_for :lexware_import, url: lexware_imports_path do |f| %>
      <%= f.file_field :file %><br/><br/>
      <%= f.submit 'Import', class: 'btn btn-success' %>
    <%- end -%>
  </div>
</div>

</div>
