<div class="row-fluid">
  <div class="span6 tab-content">
    <div class="tab-pane active" id="data">
      <table class="table table-striped">
        <tr>
          <th>Name:</th>
          <th>Version:</th>
        </tr>
        <%- if @software %>
        <%- @software.each do |s| -%>
        <tr>
          <td><%= s[0] %></td>
          <td><%= s[1] %></td>
        </tr>
        <%- end -%>
        <%- end -%>
      </table>
    </div>
  </div>
</div>
