<div class="navbar">
    <div class="navbar-inner">
    <div class="container-fluid">
        <ul class="nav">
        <li class="active"><a href="#machines" data-toggle="tab">Machines</a></li>
        <li><a href="#info" data-toggle="tab">Announcement</a></li>
        </ul>
    </div>
    </div>
</div>