<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <ul class="nav">
                <a class="brand" href="<%= maintenance_announcements_path %>">Maintenance Announcements</a>
                <li><%= link_to '<i class="fa fa-archive"></i> Announcement Archive'.html_safe, maintenance_announcements_path(:unlimited => true) %></li>
                <li><%= link_to '<i class="fa fa-plus"></i> New Announcement'.html_safe, new_maintenance_announcement_path %></li>
            </ul>
            <ul class="nav pull-right">
                <li><%= link_to '<i class="fa fa-file"></i> Templates'.html_safe, maintenance_templates_path %></li>
            </ul>
        </div>
    </div>
</div>
