<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">
            <ul class="nav">
                <li><%= link_to '<i class="fa fa-plus"></i> New Announcement'.html_safe, new_maintenance_announcement_path %></li>
            </ul>
        </div>
    </div>
</div>