<div class="navbar">
    <div class="navbar-inner">
    <div class="container-fluid">
        <ul class="nav">
            <span class="brand">New Announcement</span>
            <li class="active"><a href="#machines" data-toggle="tab"><i class="fa fa-plane"></i> Machines</a></li>
            <li><a href="#info" data-toggle="tab"><i class="fa fa-info-circle"></i> Announcement Data</a></li>
        </ul>
        <ul class="nav pull-right">
            <li><%= link_to '<i class="fa fa-level-up"></i> Cancel'.html_safe, maintenance_announcements_path %></li>
        </ul>
    </div>
    </div>
</div>