#flash {
  position: fixed;
  top: 1px;
  right: 0px;
  width: 301px;
  z-index: 9999;
}

#flash-login {
  float: right;
  position: relative;
  right: 5px;
  top: -55px;
  width: 301px;
  z-index: 9999;
}
