<%= stylesheet_link_tag "tree", media: "all" %>

<%- unless @all_locations.empty? -%>
<h3>Existing locations:</h3>
<div id="location-tree">
<%- Location.roots.sort_by {|l| l.name }.each do |l| -%>
  <%= k(l).location_tree("",0) %>
<%- end -%>
</div>
<%- end -%>
