<%= stylesheet_link_tag    "tree", media: "all" %>

<%
def draw_tree(location,level=0)
  if level == 0
%>
<ul class="tree">
<%
  end
%>
  <li>
    <input type="checkbox" id="node-<%= location.id %>" class="tree-checkbox" />
    <label for="node-<%= location.id %>" class="tree-label">
<%
  if not location.children.empty?
%>
      <i class="fa fa-plus-square tree-expand"></i>
      <i class="fa fa-minus-square tree-collapse"></i>
<%
  end
%>
      <%= location.name %>
    </label>
<%
  if not location.children.empty?
%>
    <ul>
<%
    location.children.each do |child|
      draw_tree(child,level+1)
    end
%>
    </ul>
<%
  end
%>
  </li>
<%
  if level == 0
%>
</ul>
<%
  end
end
%>

<%- unless @all_locations.empty? -%>
<h3>Existing locations:</h3>
<div id="location-tree">
<%- Location.roots.each do |l| -%>
  <% draw_tree(l) %>
<%- end -%>
</div>
<%- end -%>

<script>
</script>
