<div id="locations-index">

<div class="row-fluid">
  <div class="span12">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="<%= locations_path %>">Locations</a>
          <ul class="nav">
            <li>
              <div class="columnSelectorWrapper">
                <input id="colSelect1" type="checkbox" class="hidden">
                <label style="margin-bottom: 0px; color: #777777; margin-right: 15px;" class="columnSelectorButton" for="colSelect1"><i class="fa fa-cog">&nbsp;</i>Columns</label>
                <div id="columnSelector" class="columnSelector"></div>
              </div>
            </li>
            <li><%= link_to '<i class="fa fa-plus"></i> New Location'.html_safe, new_location_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <%= render partial: 'table', locals: {locations: @locations} %>
  </div>
</div>
</div>
